<section id="home" class="hero">
  <div class="hero-container">
    <div class="hero-content">
      <!-- <h1>{{ companyName }}</h1> -->
      <h1 class="tagline">{{ tagline }}</h1>
      <a href="#contact" class="cta-btn" aria-label="Contact Rocque Advisory">Contact Us</a>
    </div>
    <div class="hero-video">
      <iframe 
        width="560" 
        height="315" 
        src="https://www.youtube.com/embed/v89Q35QF32Y?si=58T5dVI12YExWyZC&amp;start=22&autoplay=0&mute=1&loop=0&playlist=v89Q35QF32Y&controls=0&modestbranding=1" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen
        loading="lazy">
      </iframe>
    </div>
  </div>
</section>
